.p-dialog-mask {
  .p-dialog {
    .p-dialog-content {
      .flex-column {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .flex-buttons {
        display: flex;
        gap: 1rem;
        justify-content: end;
      }
    }
  }
}
